.add-modal-card {
  width: 400px;
  height: 438px;
  margin: 8px 0;
  display: grid;

  &:hover {
    cursor: pointer;
  }
}

mat-card-content {
  align-content: center;
}

.mat-icon {
  padding: 36px 0 0 80px;
  font-size: 240px;
}

p {
  text-align: center;
  font-size: 3rem;
}
