.full-width {
  width: 100%;
}

.long-lat-form {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 960px) {
  .long-lat-form {
    grid-template-columns: 1fr 1fr;
  }

  .latitude {
    padding-right: 16px;
  }
}
