.full-width {
  width: 100%;
}

.long-lat-form {
  display: grid;
  grid-template-columns: 1fr;
}

.address-form-group {
  padding: 8px;
  border: .5px solid black;
}

.form-error {
  margin-bottom: 4px;
}

@media screen and (min-width: 960px) {
  .long-lat-form {
    grid-template-columns: 1fr 1fr;
  }

  .latitude {
    padding-right: 16px;
  }
}
