app-navigation {
  grid-area: nav;
}

.grid-content {
  grid-area: content;
}

.grid-footer {
  grid-area: footer;
}

@media screen and (min-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 64px auto 200px;
    height: 100%;
    grid-template-areas:
      "nav nav"
      "content content"
      "footer footer"
  }
}
