/* For use in src/lib/core/theming/_palette.scss */
$md-tripprimary: (50 : #f3f7f2,
  100 : #e0ebe0,
  200 : #ccdecb,
  300 : #b7d0b6,
  400 : #a7c6a6,
  500 : #98bc96,
  600 : #90b68e,
  700 : #85ad83,
  800 : #7ba579,
  900 : #6a9768,
  A100 : #ffffff,
  A200 : #dbffda,
  A400 : #aaffa7,
  A700 : #92ff8d,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-tripsecondary: (50 : #ecf6ff,
  100 : #cee9ff,
  200 : #aedbff,
  300 : #8eccff,
  400 : #75c1ff,
  500 : #5db6ff,
  600 : #55afff,
  700 : #4ba6ff,
  800 : #419eff,
  900 : #308eff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #dbebff,
  A700 : #c2dcff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
