<mat-sidenav-container class="sidenav-container" *ngIf="isWeb===false">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="navigation" color="accent">
    <!-- TODO: fix the height/circle of the shading of the circle -->
    <mat-toolbar>{{title}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/explore" routerLinkActive="active-link" (click)="drawer.toggle()">Explore</a>
      <a mat-list-item routerLink="/trips" routerLinkActive="active-link" (click)="drawer.toggle()">Trips</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1>{{title}}</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="grid-footer">
      <span>Copyright 2020</span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Desktop nav bar -->
<mat-toolbar class="title grid-nav" color="primary" *ngIf="isWeb">
  <h1>{{title}}</h1>
  <div>
    <a [class.mat-raised-button]="onExplorePage" mat-button [color]="onExplorePage ? 'accent': 'basic'"
      routerLink="/explore">Explore</a>
    <a [class.mat-raised-button]="onTripsPage" mat-button [color]="onTripsPage ? 'accent': 'basic'"
      routerLink="/trips">Trips</a>
  </div>
</mat-toolbar>
