<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">{{title}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item router-link="/explore">Explore</a>
      <a mat-list-item router-link="/trips">Trips</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content color="primary">
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1>{{title}}</h1>
    </mat-toolbar>
    <router-outlet *ngIf="isHandset$ | async"></router-outlet>
    <div class="grid-footer" *ngIf="isHandset$ | async">
      <span>Copyright 2020</span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Desktop nav bar -->
<mat-toolbar class="title grid-nav" color="primary">
  <h1>{{title}}</h1>
  <div>
    <a [class.mat-raised-button]="onExplorePage" mat-button routerLink="/explore">Explore</a>
    <a [class.mat-raised-button]="onTripsPage" mat-button routerLink="/trips">Trips</a>
  </div>
</mat-toolbar>
